.searchs {
 width: 100%;
  margin-top: 30px;
  height: 100px;
  margin: 0 1px;
  box-shadow: 3px 5px #3c5b6f;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  border: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.showcustomer {
  width: 100%;
  min-height: 100px;
  margin: 30px 1px;
  box-shadow: 3px 5px #3c5b6f;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  border: 1px solid #fff;
  padding-left: 42px;
  padding-top: 10px;
}
.Addcustomer {
  width: 100%;
  min-height: 100px;
  margin: 30px 1px;
  box-shadow: 3px 5px #3c5b6f;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  border: 1px solid #fff;
  padding-left: 42px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.containeraddcutomer{
  width: 700px;
  height: 1000px;
  border: 1px solid rgb(178, 173, 173);
  padding: 10px 40px;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-top: 20px;
  position: relative;
}

.Addcutomerlabel {
  width: 250px;
  height: 20px;
  display: flex;
  align-items: center;
}
.bnt-save{
  position: absolute;
  right: 40px;
  bottom: 15px;
}

.edit-label{
  width: 448px;
}
.edit-labeltextArea{
  width: 433px;
}