.today{
    width: 100%;
    display: flex;
    margin-top: 30px;
    margin-left: 1px;
}

.intoday{
    height: 100px;
    margin-right: 25px;
    box-shadow: 3px 5px #3C5B6F;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}


.ordertoday{
    height: 100px;
    margin-right: 25px;
    box-shadow: 3px 5px #3C5B6F;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.delitoday{
    height: 100px;
    box-shadow: 3px 5px #3C5B6F;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    
}

.i-con{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a9adb0;
}

.text-center{
    font-size: 14px;
    display: flex;
    flex-direction: column;
}


/* --------------------------------------------------------------------------------- */

.max{
    width: 100%;
    display: flex;
    margin-left: 1px;
    margin-top: 30px;
}

.maxproduct{
    height: 100px;
    box-shadow: 3px 5px #3C5B6F;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: 1px solid #fff;
    margin-right: 30px;
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

}

.maxorder{
    height: 100px;
    box-shadow: 3px 5px #3C5B6F;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

}

/* ------------------------------------------------------------------------------- */

.graph{
    width: 100%;
    display: flex;
    margin-left: 1px;
    margin-top: 30px;
}

.product-in{
    height: 410px;
    margin: 0 30px 0 0 ;
    box-shadow: 3px 5px #3C5B6F;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: 1px solid #fff;
}

.product-exports{
    height: 410px;
    box-shadow: 3px 5px #3C5B6F;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: 1px solid #fff;

}