
.container-Login {
    background-color: #f5f6f7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.Login {
    width: 900px;
    height: 500px;
    margin-right: 25px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.from {
    width: 600px;
    position: relative;
}

.btn-button-login {
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;

}