.searchs {
  margin-top: 30px;
  width: 100%;
  margin: 30px 1px;
  box-shadow: 3px 5px #3c5b6f;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  border: 1px solid #fff;
}

.showorder {
  width: 100%;
  min-height: 100px;
  margin: 30px 1px;
  box-shadow: 3px 5px #3c5b6f;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  border: 1px solid #fff;
  padding-left: 42px;
  padding-top: 10px;
}


/* --------------------------Addorer */

.container-addorder {
  width: 600px;
}
.addorder-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.lable-from{
  width: 400px;
}

.edit{
  margin-right: 8px;
}

/* ------------- ratioio 2 detail select product*/

.showorder-detail {
  width: 100%;
  min-height: 100px;
  margin: 30px 1px;
  box-shadow: 3px 5px #3c5b6f;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  border: 1px solid #fff;
  padding-left: 24px;
}


.row-table{
  height: 60px;
  display: flex;
  align-items: center;
  color: #3c5b6f;
  font-size: 18px;height: 60px;
  color: #3c5b6f;
  font-size: 18px;
  font-weight: bold;
  background-color: #b8cedb;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.head-table{
  text-align: center;
  color: #3c5b6f;
  font-size:18 px;
}

.row-table-add{
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c4cbcf;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 100px;
  justify-content: center;
}

.head-table-add{
  display: flex;
  align-items: center;
  justify-content: end;
  height: 80px;
}


.input-size-3{
  margin-bottom: 20px;
  width: 300px;
}
/* ----------------------3 */
.add-product-order{
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c4cbcf;
  width: 1520px;
}

/* --------------------4 */

.footer-order-add{
  margin-top: 30px;
  width: 1520px;
  height: 120px;
  border-bottom: 1px solid #c4cbcf;
  margin-bottom: 30px;
}

.flex-notation{
  width: 700px;
  display: flex;
}
.notation{
  width: 200px;
}
