* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* style Laout raito */
/* .containers { */
  /* display: flex; */
  /* width: 100%; */
  /* height: 100vh; */
/* } */

/* navbar */
.navbar {
  width: 250px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #3c5b6f;
  color: #fff;
}

.text-logo {
  margin-top: 10px;
  border-bottom: 1px solid #fff;
  height: 80px;
}

.text-logo h1 {
  width: 100%;
}
label {
  margin-top: 10px;
}

.Menu {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.Menu .item {
  margin-top: 10px;
  margin-bottom: 30px;
}

.Menu .item button {
  width: 200px;
  color: #fff;
  display: flex;
  align-items: center;
}

.Menu .item button i {
  margin: 0 10px 0 0;
}

.dashbord {
  border-bottom: 1px solid #fff;
}
.dashbord button {
  width: 200px;
  margin-bottom: 30px;
  color: #fff;
  display: flex;
  align-items: center;
}

.dashbord button i {
  margin: 0 10px 0 0;
}

.account {
  margin-top: 40px;
}
.account button {
  width: 200px;
  color: #fff;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.account button i {
  margin: 0 10px 0 0;
}

.dashboardButton {
  background-color: #62696e;
  color: #fff;
}

/* link {
  text-decoration: none; /* เอาสไตล์ underline ออก */

a {
  text-decoration: none;
  color: inherit;
}

/* --------------------------------------------------------------- */
/* .Header { */
  /* width: 97%; */
  /* box-shadow: 3px 5px #3C5B6F */
  /* box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
  border-radius: 3px;
  border: 1px solid #fff;
  height: 70px;
  position: relative;
  display: flex;
  align-items: center;
} */
.btn-account {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  border: 0;
  border-radius: 50%;
  min-width: 60px;
  transition: background-color 0.6s ease;
}


/* ----------------------------------------------------------------- */

.Footer {
  width: 97%;
  /* box-shadow: 3px 5px #3C5B6F */
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
  border-radius: 3px;
  border: 1px solid #fff;
}

/* ----------------------------------------------------------------- */

/* Body  */
/* .body { */
  /* margin-left: 20px; */
  /* width: 100%; */
/* } */

/* -------------------------------------------------------------------- */

.display {
  width: 97%;
  height: 750px;
  margin-top: 20px;
  /* box-shadow: 3px 5px #3C5B6F;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    border: 1px solid #fff; */
}
